{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    {{ form(form) }}
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{path('login')}}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets2 %}
    <link href={{ asset('https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/css/intlTelInput.css') }} rel="stylesheet" type="text/css">
    <style>
        .iti.iti--allow-dropdown{width:100%}
    </style>
{% endblock %}
{% block javascripts2 %}
    <script src={{ asset("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/js/intlTelInput.min.js") }}></script>
    <script src={{ asset("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/js/utils.min.js") }}></script>
    <script>
        $( document ).ready(function() {
            let register_PhoneNumber = document.querySelector("#register_PhoneNumber");
            let register_IPCountry = document.querySelector("#register_IPCountry");
            let errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
            let iti = window.intlTelInput(register_PhoneNumber, {
                initialCountry: "auto",
                nationalMode: false,
                geoIpLookup: function(success, failure) {
                    $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                        let countryCode = (resp && resp.country) ? resp.country : "us";
                        register_IPCountry.value = countryCode;
                        success(countryCode);
                    });
                },
            });
            let reset = function(ss) {
                register_PhoneNumber.classList.remove("error");
                $(ss).closest('.form-group').find('.invalid-feedback').html('').hide();
                $(ss).closest('.form-group').find('.valid-feedback').html('').hide();
            };
            register_PhoneNumber.addEventListener('blur', function() {
                reset(this);
                if (register_PhoneNumber.value.trim()) {
                    if (iti.isValidNumber()) {
                        $(this).closest('.form-group').find('.valid-feedback').html('Valid!').show();
                    } else {
                        register_PhoneNumber.classList.add("error");
                        let errorCode = iti.getValidationError();
                        $(this).closest('.form-group').find('.invalid-feedback').html(errorMap[errorCode]).show();
                    }
                }
            });
            register_PhoneNumber.addEventListener('change', reset);
            register_PhoneNumber.addEventListener('keyup', reset);
        });
    </script>
{% endblock %}
